.fontHeading{
    font-size: 25px;
    font-family: 'Book old style', Times, serif;

    font-weight: bold;
    text-transform: uppercase;
}
.fontHeading:hover{
    color: #61DAFB!important;
}